<a href="https://colab.research.google.com/github/monali0802/CE888/blob/main/Lab_6/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn import cluster, datasets, metrics

In [3]:
df_dic = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/data-dictionary.csv')
df_country = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv')

print(df_dic)
print(df_country)

  Column Name                                        Description
0     country                                Name of the country
1  child_mort  Death of children under 5 years of age per 100...
2     exports  Exports of goods and services per capita. Give...
3      health  Total health spending per capita. Given as %ag...
4     imports  Imports of goods and services per capita. Give...
5      Income                              Net income per person
6   Inflation  The measurement of the annual growth rate of t...
7  life_expec  The average number of years a new born child w...
8   total_fer  The number of children that would be born to e...
9        gdpp  The GDP per capita. Calculated as the Total GD...
                 country  child_mort  exports  ...  life_expec  total_fer   gdpp
0            Afghanistan        90.2     10.0  ...        56.2       5.82    553
1                Albania        16.6     28.0  ...        76.3       1.65   4090
2                Algeria        27.3     38.4  ...        76.5       2.89   4460
3                 Angola       119.0     62.3  ...        60.1       6.16   3530
4    Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200
..                   ...         ...      ...  ...         ...        ...    ...
162              Vanuatu        29.2     46.6  ...        63.0       3.50   2970
163            Venezuela        17.1     28.5  ...        75.4       2.47  13500
164              Vietnam        23.3     72.0  ...        73.1       1.95   1310
165                Yemen        56.3     30.0  ...        67.5       4.67   1310
166               Zambia        83.1     37.0  ...        52.0       5.40   1460

[167 rows x 10 columns]

In [4]:

from sklearn.decomposition import PCA
scikit_pca = PCA(n_components=2)
X = scikit_pca.fit_transform(df_country.iloc[:,8:].values)
X
model = cluster.KMeans(n_clusters=3, random_state=5000).fit(X)
df_country['Class'] = model.labels_

df_country['Class']

0      0
1      0
2      0
3      0
4      0
      ..
162    0
163    0
164    0
165    0
166    0
Name: Class, Length: 167, dtype: int32

# I choose gdpp and income column for findout country category

Low- income economies are usually referred to as under-developing economies, middle-income economies are usually referred to as developing economies, and the Upper Middle Income and the High Income are referred to as Developed Countries.

GDPP - The GDP per capita. Calculated as the Total GDP divided by the total population. Low gdp means under-developing, Medium means developing and High gdp means developed country

In [60]:
test= []
df_country[df_country['Class'] == 0].head()

               country  child_mort  exports  ...  total_fer   gdpp  Class
0          Afghanistan        90.2     10.0  ...       5.82    553      0
1              Albania        16.6     28.0  ...       1.65   4090      0
2              Algeria        27.3     38.4  ...       2.89   4460      0
3               Angola       119.0     62.3  ...       6.16   3530      0
4  Antigua and Barbuda        10.3     45.5  ...       2.13  12200      0

[5 rows x 11 columns]

In [61]:

for country in df_country[df_country['Class'] == 0].iloc[:,0].head().values:
  test.append(['under-developing country',country])


test

[['under-developing country', 'Afghanistan'],
 ['under-developing country', 'Albania'],
 ['under-developing country', 'Algeria'],
 ['under-developing country', 'Angola'],
 ['under-developing country', 'Antigua and Barbuda']]

In [62]:
df_country[df_country['Class'] == 1].head()

      country  child_mort  exports  health  ...  life_expec  total_fer   gdpp  Class
7   Australia         4.8     19.8    8.73  ...        82.0       1.93  51900      1
8     Austria         4.3     51.3   11.00  ...        80.5       1.44  46900      1
10    Bahamas        13.8     35.0    7.89  ...        73.8       1.86  28000      1
15    Belgium         4.5     76.4   10.70  ...        80.0       1.86  44400      1
23     Brunei        10.5     67.4    2.84  ...        77.1       1.84  35300      1

[5 rows x 11 columns]

In [63]:
for country in df_country[df_country['Class'] == 1].iloc[:,0].head().values:
  test.append(['developing country',country])


test

[['under-developing country', 'Afghanistan'],
 ['under-developing country', 'Albania'],
 ['under-developing country', 'Algeria'],
 ['under-developing country', 'Angola'],
 ['under-developing country', 'Antigua and Barbuda'],
 ['developing country', 'Australia'],
 ['developing country', 'Austria'],
 ['developing country', 'Bahamas'],
 ['developing country', 'Belgium'],
 ['developing country', 'Brunei']]

In [64]:
df_country[df_country['Class'] == 2].head()

         country  child_mort  exports  ...  total_fer    gdpp  Class
91    Luxembourg         2.8    175.0  ...       1.63  105000      2
114       Norway         3.2     39.7  ...       1.95   87800      2
123        Qatar         9.0     62.3  ...       2.07   70300      2
145  Switzerland         4.5     64.0  ...       1.52   74600      2

[4 rows x 11 columns]

In [65]:

for country in df_country[df_country['Class'] == 2].iloc[:,0].head().values:
  test.append(['developed country',country])


test

[['under-developing country', 'Afghanistan'],
 ['under-developing country', 'Albania'],
 ['under-developing country', 'Algeria'],
 ['under-developing country', 'Angola'],
 ['under-developing country', 'Antigua and Barbuda'],
 ['developing country', 'Australia'],
 ['developing country', 'Austria'],
 ['developing country', 'Bahamas'],
 ['developing country', 'Belgium'],
 ['developing country', 'Brunei'],
 ['developed country', 'Luxembourg'],
 ['developed country', 'Norway'],
 ['developed country', 'Qatar'],
 ['developed country', 'Switzerland']]

In [51]:
import numpy as np 
  
# data rows of csv file  
rows = test
  
# using the savetxt  
# from the numpy module 

np.savetxt("test.csv",  
           rows, 
           delimiter =", ",  
           header="Categories,Countries", 
           fmt ='% s',
           comments =" ")