<a href="https://colab.research.google.com/github/monali0802/CE888/blob/main/Lab_6/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn import cluster, datasets, metrics

In [ ]:
df_dic = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/data-dictionary.csv')
df_country = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv')

print(df_dic)
print(df_country)

  Column Name                                        Description
0     country                                Name of the country
1  child_mort  Death of children under 5 years of age per 100...
2     exports  Exports of goods and services per capita. Give...
3      health  Total health spending per capita. Given as %ag...
4     imports  Imports of goods and services per capita. Give...
5      Income                              Net income per person
6   Inflation  The measurement of the annual growth rate of t...
7  life_expec  The average number of years a new born child w...
8   total_fer  The number of children that would be born to e...
9        gdpp  The GDP per capita. Calculated as the Total GD...
                 country  child_mort  exports  ...  life_expec  total_fer   gdpp
0            Afghanistan        90.2     10.0  ...        56.2       5.82    553
1                Albania        16.6     28.0  ...        76.3       1.65   4090
2                Algeria        27.3     38.4  ...        76.5       2.89   4460
3                 Angola       119.0     62.3  ...        60.1       6.16   3530
4    Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200
..                   ...         ...      ...  ...         ...        ...    ...
162              Vanuatu        29.2     46.6  ...        63.0       3.50   2970
163            Venezuela        17.1     28.5  ...        75.4       2.47  13500
164              Vietnam        23.3     72.0  ...        73.1       1.95   1310
165                Yemen        56.3     30.0  ...        67.5       4.67   1310
166               Zambia        83.1     37.0  ...        52.0       5.40   1460

[167 rows x 10 columns]

In [ ]:

from sklearn.decomposition import PCA
scikit_pca = PCA(n_components=2)
X = scikit_pca.fit_transform(df_country.iloc[:,8:].values)
X
model = cluster.KMeans(n_clusters=3, random_state=5000).fit(X)
df_country['Class'] = model.labels_

df_country['Class']

0      0
1      0
2      0
3      0
4      0
      ..
162    0
163    0
164    0
165    0
166    0
Name: Class, Length: 167, dtype: int32

In [ ]:
test = {}
for country in df_country[df_country['Class'] == 0].iloc[:,0].head().values:
  test.add({'under-developing country',country}) 


test

AttributeError: ignored

In [ ]:
df_country[df_country['Class'] == 0].head()

               country  child_mort  exports  ...  total_fer   gdpp  Class
0          Afghanistan        90.2     10.0  ...       5.82    553      0
1              Albania        16.6     28.0  ...       1.65   4090      0
2              Algeria        27.3     38.4  ...       2.89   4460      0
3               Angola       119.0     62.3  ...       6.16   3530      0
4  Antigua and Barbuda        10.3     45.5  ...       2.13  12200      0

[5 rows x 11 columns]

In [ ]:
final['developing country'] = df_country[df_country['Class'] == 1]

NameError: ignored

In [ ]:
final['developed country'] = df_country[df_country['Class'] == 2]

NameError: ignored

In [ ]:
final